@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3f6638;
}

.container {
    width: 1000px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    box-shadow: 7px 7px #184227;
    border-radius: 15px;
    display: flex;
}

.container .col-left {
    width: 50%;
    height: 100%;
    background-color: #35589A;
    border-radius: 10px 0px 0px 10px;
    /* background-image: url('andrew-neel-ute2XAFQU2I-unsplash.jpg'); */
    background-image: url('Daubigny\'s\ Garden.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.container .col-left .info-left {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .col-left .info-left .text-display {
    font-size: 35px;
    font-weight: 800;
    color: #fbfbfb;
    -webkit-text-stroke: 1px rgb(31, 61, 21);
}

.container .col-left .info-left .btn-left .more a:hover {
    /* text-decoration: none; */
    color: #000;
    background-color: transparent;
    border: 2px solid #fff8f8;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.container .col-right {
    width: 50%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 0px 10px 10px 0px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .col-right .logo {
    font-size: 48px;
    font-weight: 700;
    color: #163f16;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.container .col-right .text-welcome {
    font-size: 24px;
    font-weight: 500;
    color: #498c56;
}

.container .col-right .text-detail {
    font-size: 18px;
    font-weight: 400;
    color: #328a58;
}

.container .col-right .form {
    display: flex;
    flex-direction: column;
}

.container .col-right .form .name,
.container .col-right .form .email,
.container .col-right .form .password {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border: 1px solid #1d6e30;
    border-radius: 5px;
    padding: 10px;
}

.container .col-right .form .button {
    width: 100%;
    height: 50px;
    margin-top: 20px;
    background-color: #359a52;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #fff;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.container .col-right .form .button:hover {
    border: 1px solid #0e4322;
    background-color: transparent;
    color: rgb(87, 153, 87);
    cursor: pointer;
}

.container .col-right .text-signin {
    font-size: 16px;
    font-weight: 400;
    color: #093e25;
    margin-top: 30px;
}

.container .col-right .text-signin a {
    /* text-decoration: none; */
    color: #134626;
}